.mobile {
    max-height: 66vh;
    overflow-y: auto;
}

.mobile span.title {
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
    font-size: 14px;
    padding-left: 6px;
    vertical-align: text-bottom;
}

.mobile span.glyphicon {
    font-size: 18px;
    padding: 5px;
}

.mobile > .list-group-item {
    padding: 12px 15px;
    overflow-y: auto;
}

.selected-layer-item span.title {
    vertical-align: sub;
}

.item-settings {
    clear: both;
    margin-top: 34px;
    border-top: 1px solid #ddd;
    padding-top: 8px;
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
}

.item-settings > .form-inline > .form-group > label {
    font-size: 12px;
    padding-right: 10px;
}

.item-settings > .form-inline > .form-group > select {
    width: auto;
    display: inline-block;
}

.item-settings > .layer-info-item > .glyphicon {
    padding: 5px;
}

.list-group-item > .layer-info-item > .rotate {
    transform: rotate(-360deg);
    transition: .5s;
}

.list-group-item > .layer-info-item > .rotate-back {
    transform: rotate(0deg);
    transition: .5s;
}

.item-settings > .layer-sort-item > .glyphicon {
    padding: 5px;
}

.item-settings > .layer-sort-item {
    margin-right: 40px;
}
