<!DOCTYPE html>
    <div class="header">
        <span class="title">Hilfe - Themenbaum</span>
        <span class="glyphicon glyphicon-remove pull-right"></span>
        <span class="glyphicon glyphicon-print pull-right"></span>
    </div>
    <div class="content container-fluid">
        <div class="inhalt">
            <a href="#allgemein">Allgemeines</a>
            <a href="#themen">Wie baut sich der Themenbaum unter Fachdaten auf?</a>
            <a href="#auswahl">Was ist die Auswahl?</a>
            <a href="#auswahlSave">Die Auswahl speichern</a>
        </div>
        <h3 id="allgemein">Allgemein</h3>
        <div class="row">
            <p class="col-md-12">
                Der Themenbaum ist gegliedert in Hintergrundkarten, einen Katalog an Fachdaten und die aktuelle Auswahl an Kartenebenen.
            </p>
        </div>
        <h3 id="themen">Wie baut sich der Themenbaum unter Fachdaten auf?</h3>
        <div class="row">
            <p class="col-md-12">
                Der FHH-Atlas stellt alle Kartenebenen (Layer) dar, denen ein Datensatz im Hamburger Metadatenkatalog (HMDK) zugeordnet ist. Die Zuordnung nimmt LGV gemäß der Verweise im HMDK vor. In Zweifelsfällen erfolgt eine Absprache mit den Fachdatenhaltern. Die den Kartenebenen zugeordneten Datensätze steuern den automatisierten Aufbau des Themenbaums im FHH-Atlas:<br/><br/>
                Die Oberkategorien des Themenbaums ergeben sich aus den Open Data-Kategorien (z.B. Bevölkerung, Gesundheit), die den Datensätzen im HMDK zugeordnet wurden (s. Bild unten).  Jeder Datensatz taucht in ‚seiner‘ Kategorie auf. Zurzeit muss für die Auswahl einer Open Data-Kategorie der Datensatz auch als Open Data veröffentlicht werden. Diese technische Restriktion wird bald durch eine Weiterentwicklung der Erfassungsoberfläche des HMDK aufgehoben. Die Auswahl einer Open Data- Kategorie kann dann unabhängig von der Veröffentlichung als Open Data erfolgen. Ist einem Datensatz keine Kategorie zugeordnet, wird der Datensatz im Themenbaum unter Sonstiges angezeigt.<br/>
                Wir haben uns für die Open Data-Kategorien entschieden, da die Daten im Transparenzportal ebenfalls nach diesen Kategorien geordnet werden und viele Datensätze schon entsprechend kategorisiert sind.<br/>
                Alternativ kann der Baum auch nach den INSPIRE-Kategorien aufgebaut werden.
            </p>
        </div>
        <div class="row">
            <p class="col-md-12">
                <img class="img-responsive img-thumbnail .center-block" src="<%= themen %>">
            </p>
        </div>
        <div class="row">
            <p class="col-md-12">
                Die Ebene unterhalb der Oberkategorien stellt einen Datensatz aus dem HMDK dar.
                Sind einem Datensatz mehrere Kartenebenen zugeordnet, wird ein Ordner erzeugt. Der Ordner heißt so wie der Datensatz im HMDK (z.B. Verkehrszählstellen Hamburg, s. Bild unten). Innerhalb des Ordners finden sich dann die einzelnen Kartenebenen, die dem Datensatz zugeordnet sind (z.B. Bedarfszählstelle, s. Bild unten). (Für Fachleute: Die Kartenebenen heißen in der Regel so, wie sie im zugehörigen Kartendienst heißen, d.h. wie sie im zugrundeliegenden Kartendokument benannt wurden.)<br/>
                Ist einem Datensatz genau eine Kartenebene zugeordnet, wird ein einfacher Eintrag im Themenbaum erzeugt. Der einfache Eintrag heißt ebenfalls so wie der Datensatz im HMDK (z.B. Aktuelle Baustellen, s. Bild unten).<br/>
                Für jeden Layer können über den i-Button (<span class="glyphicon glyphicon-info-sign"></span>) so die zugehörigen Metadaten zu Datensätzen aufgerufen werden.
            </p>
        </div>
        <div class="row">
            <p class="col-md-12">
                <img class="img-responsive img-thumbnail .center-block" src="<%= themen2 %>">
            </p>
        </div>
        <div class="row">
            <p class="col-md-12">
                Der Themenbaum wird täglich auf Basis der Informationen im HMDK erzeugt und aktualisiert.
                Falls ‚Ihr‘ Datensatz also nicht in der richtigen Kategorie auftaucht, können Sie das selbst ändern. Sie passen im zugehörigen HMDK-Eintrag einfach die OpenData-Kategorie an und am nächsten Tag taucht der Datensatz in der richtigen Kategorie im FHH-Atlas auf. Falls die ‚Ihrem‘ Datensatz zugeordneten Kartenebenen nicht korrekt sind, wenden Sie sich bitte an GVGeoportal@gv.hamburg.de.<br/><br/>
                Wir bitten darum, die Kategorien auf Richtigkeit zu prüfen. Wenn im HMDK einem Datensatz mehrere Kategorien zugeordnet sind, erscheint der der Datensatz im Themenbaum mehrfach. Aus Gründen der Übersichtlichkeit, empfehlen wir pro Datensatz nur eine Kategorie zu vergeben.
            </p>
        </div>
        <h3 id="auswahl">Was ist die Auswahl?</h3>
        <div class="row">
            <p class="col-md-12">
                Die aus den über 1000 im Themenbaum verfügbaren Kartenebenen ausgewählten werden in der Auswahl angezeigt. Hier kann ihre Darstellungsreihenfolge durch Drag and Drop geändert werden. In den Einstellungen (<span class="glyphicon glyphicon-cog rotate"></span>) jeder Kartenebene kann ihre Transparenz beeinflusst werden. Die Darstellungsreihenfolge kann hier ebenfalls über die Pfeile eingestellt werden. Natürlich kann der Layer sichtbar und unsichtbar gestellt und aus der Auswahl entfernt werden. In der Auswahl wird außerdem angezeigt, wenn eine Kartenebene im aktuellen Maßstab nicht angezeigt werden kann. Der Eintrag ist dann ausgegraut.
            </p>
        </div>
        <h3 id="auswahlSave">Die Auswahl speichern</h3>
        <div class="row">
            <p class="col-md-12">
                Über den Button "Auswahl speichern" im Reiter Themenauswahl, erscheint ein kleines Popup-Fenster mit einer URL. In dieser URL sind die ausgewählten Themen und der aktuelle Kartenausschnitt gespeichert. Wird der FHH-Atlas über diese URL geöffnet, werden die zuvor ausgewählten Themen automatisch in die Auswahl eingebunden. Zusätzlich zoomt die Karte auf den in der URL gespeicherten Kartenausschnitt. Damit sich der FHH-Atlas immer mit dieser Themenauswahl öffnet, kann diese URL als Lesezeichen ablegt werden.
            </p>
        </div>
</div>
