.table-gfi {
    border-top: 1px solid rgb(229, 229, 229);
}
.table-gfi thead th {
    font-size: 13px;
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
}

.table-gfi th {
    font-weight: normal;
    font-size: 11px;
}
