<!DOCTYPE html>
<span id="geolocation_marker" class="glyphicon glyphicon-map-marker geolocation_marker" />
<div class="orientationButtons col-md-1">
    <span id="geolocate" class="glyphicon glyphicon-map-marker" title="Standpunkt"></span>
    <% if (isPoiOn === true) { %>
        <br>
        <span id="geolocatePOI" class="glyphicon glyphicon-record" title="In meiner Nähe"></span>
    <% } %>
</div>
