.tool-window {
    background-color: rgb(255, 255, 255);
    display: none;
    position: absolute !important;
    margin: 10px;
    margin-top: 60px;
    margin-bottom: 30px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    z-index: 999;
    max-width: 500px;
}

.tool-window > .header {
    padding-left: 10px;
    border-bottom: 1px solid rgb(229, 229, 229);
    letter-spacing: 0.6px;
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
}

.tool-window > .header-min {
    padding-left: 10px;
    background-color: rgb(182, 0, 0);
    min-width: 120px;
    box-shadow: 6px -6px 12px rgba(0, 0, 0, 0.176);
}

.tool-window > .header-min:hover {
    cursor: pointer;
}

.tool-window > .header > .title {
    white-space: nowrap;
    min-width: 250px;
    cursor: move;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 5px;
    color: rgb(85, 85, 85);
}

.tool-window > .header-min > .title {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
}

.tool-window > .header > .buttons {
    color: rgb(85, 85, 85);
    font-size: 14px;
    margin: 0;
}

.tool-window > .header-min > .buttons {
    color: rgb(255, 255, 255);
    font-size: 12px;
}

.tool-window > .header > .buttons > .glyphicon-minus {
    top: 3px;
}

.tool-window > .header > .buttons > span {
    padding: 8px 8px 8px 0px;
}

.tool-window > .header-min > .buttons > span {
    padding: 6px 4px;
}

.tool-window > .header > .buttons > span:hover:not(.win-icon) {
    opacity: 0.7;
    cursor: pointer;
}

.win-body {
    padding: 20px;
    overflow: auto;
    background-color: rgb(255, 255, 255);
}
