/**************** Layer Settings ****************/
ul#Themen .layer-settings {
    clear: both;
    margin-top: 32px;
    border-top: 1px solid #ddd;
    padding-top: 8px;
    font-size: 12px;
}

ul#Themen .layer-settings .glyphicon {
    padding: 0 0px;
}

ul#Themen .layer-settings .glyphicon-picture {
    padding-right: 16px;
}

/**************** Layer Settings Button Animation ****************/
.rotate {
    transform: rotate(-360deg);
    transition: .5s;
}

.rotate-back {
    transform: rotate(0deg);
    transition: .5s;
}
