<div id="contactNameDiv" class="form-group has-feedback">
    <div class="input-group">
        <span class="contactInputGroup input-group-addon">Name</span>
        <input type="text" class="form-control" id="contactName" aria-describedby="contactNameStatus" placeholder="Ihr Name" value="<%= userName %>">
    </div>
    <span id="contactNameFeedback" class="contactHide glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
    <span id="contactNameStatus" class="sr-only">(success)</span>
    <label id="contactNameLabel" class="contactHide control-label" for="contactName">Bitte nennen Sie uns Ihren Namen.</label>
</div>
<div id="contactEmailDiv" class="form-group has-feedback">
    <div class="input-group">
        <span class="contactInputGroup input-group-addon">Email</span>
        <input type="email" class="form-control" id="contactEmail" aria-describedby="contactEmailStatus" placeholder="Ihre Emailadresse" value="<%= userEmail %>">
    </div>
    <span id="contactEmailFeedback" class="contactHide glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
    <span id="contactEmailStatus" class="sr-only">(success)</span>
    <label id="contactEmailLabel" class="contactHide control-label" for="contactName">Bitte geben Sie eine gültige Emailadresse ein.</label>
</div>
<div id="contactTelDiv" class="form-group has-feedback">
    <div class="input-group">
        <span class="contactInputGroup input-group-addon">Tel.</span>
        <input type="tel" class="form-control" id="contactTel" aria-describedby="contactTelStatus" placeholder="Ihre Telefonnummer" value="<%= userTel %>">
    </div>
    <span id="contactTelFeedback" class="contactHide glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
    <span id="contactTelStatus" class="sr-only">(success)</span>
    <label id="contactTelLabel" class="contactHide control-label" for="contactName">Unter welcher Telefonnummer können wir Sie erreichen?</label>
</div>
<div id="textDiv" class="form-group has-feedback">
    <textarea class="contactResizeNone form-control" id="contactText" rows="<%= maxLines %>" maxlength="2000" placeholder="<%= textPlaceholder %>" aria-describedby="contactTextStatus"><%= text %></textarea>
    <span id="contactTextFeedback" class="contactHide glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
    <span id="contactTextStatus" class="sr-only">(success)</span>
</div>
<button type="button" class="disabled contactButton btn btn-default" title="Eingaben jetzt abschicken.">
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Abschicken
</button>
